//font family
$font-family-name:sans-serif;

// spacing
$base-padding:0.5rem;  //1rem = 16px
$base-margin:0.5rem;			


//borders
$base-border-thickness:1px;
$base-border-radius:10px;

//box-shadow
$base-box-shadow:1px 3px 5px rgba(0,0,0,0.1);

//font size map values 
$base-font-size:1rem;
$font-size-xxsm: $base-font-size*0.25;
$font-size-xsm: $base-font-size*0.50;
$font-size-sm: $base-font-size*0.75;
$font-size-md:$base-font-size*1;
$font-size-lg: $base-font-size*1.5;
$font-size-xl: $base-font-size*2;
$font-size-xxl: $base-font-size*3;

//line hight map values
$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;
